.app-content {
    overflow: hidden;
    height: 100%;
}

.link-cart {
    position: relative;
    text-decoration: none;
    color: #606060;
}

.cart-label {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
}