<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                
                <div class="content">
                    <div>
                        <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                        <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                        
                    </div>

                    <div>
                        <div class="text-xl font-semibold text-surface-900">{{ product.price }}€</div>
                        <div class="label-container">
                            <span
                                [ngStyle]="{
                                    padding: '5px 10px',
                                    borderRadius: '50px',
                                    color: 'white',
                                    backgroundColor: 
                                        product.inventoryStatus === 'INSTOCK' ? 'green' :
                                        product.inventoryStatus === 'LOWSTOCK' ? 'orange' :
                                        'red'
                                }"
                            >
                                {{ product.inventoryStatus === "INSTOCK" || product.inventoryStatus === "LOWSTOCK" ? 'En stock' : "Épuisé" }}
                            </span>
                        </div>
                    </div>
                </div>

                <p>{{ product.isOnCart ? 'haha' : 'hihi' }}</p>

                <p>Description</p>

                <div class="text-sm font-medium text-secondary">{{ product.description }}</div>

                <ng-template pTemplate="footer">
                    <div class="footer-content">
                        <div class="flex gap-3 mt-1">
                            <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                            <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        </div>

                        <div>
                            <p-button label="Ajouter au panier" (onClick)="onAdd(product)" />
                        </div>
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>