:host {
    display: block;
    height: 100%;
    overflow: auto;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.label-container {
    padding-top: 10px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}